@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #f8f3ec;
    color: #1c1917;
    overflow-x: hidden;
  }
  ::selection {
    background-color: #d8cab6;
    color: #1c1917;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
